body {
	background-color: black;
}

#all {
	width: 100%;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 30px;
}

#contents {
	float: left;
	display: inline-block;
	text-align: center;
	width: 50%;
	height: 400px;
	background-color: gray;
}
#contentsList{
	float: left;
	display: inline-block;
	width: 35%;
	height: 400px;
	background-color: white;
}

#vcontentsList {
	float: left;
	display: inline-block;
	text-align: center;
	width: 23%;
	height: 400px;
	background-color: white;
}


#div2 {
	display: inline-block;
	background-color: darkgray;
}

ul li{
	list-style: none;
}